*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 6em;
    margin-left: 5em;
    margin-top: -0.7em;
    
}

.foo{
   text-align: right;
   font-size: 30px;
   padding-left: 0;
   margin: 0;
   margin: -2.3em 3em 0 0;
   color: white;
}
header section{
    background-color: #003049;
    height: 75px;
  
}



.main{
   margin-top: -2em;
    
}

.para{
   margin-top: 2em;
   font-size: 20px;
}

.para p{
    margin-top: 1em;
    color: #182f31;
}

.search{
    padding: 5px 12px;
    font-size: 1.5em;
    border-radius: 0.5em;
    border: 1px solid #003049;
}

.btn{
    font-size: 1.5em;
    border: none;
    border-radius: 1.2em;
    padding: 8px 10px;
    background-color: rgb(219, 116, 79);
    color: white;
}

.btn:hover {
    cursor: pointer;
}

main section{
    background: url('food.png') no-repeat center center fixed;
    background-size: cover;
    /* filter: blur(2px);  */
    height: 500px; 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: #291821;
}