*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 6em;
    margin-left: 5em;
    margin-top: -0.7em;
    
}

.foo{
   text-align: right;
   font-size: 30px;
   padding-left: 0;
   margin: 0;
   margin: -2.3em 3em 0 0;
   color: white;
}

header section{
    background-color: #003049;
    height: 75px;
    
}

.main{
  
    
}

.para{
   margin-top: 1em;
   font-size: 20px;
}

.para p{
    margin-top: 1em;
    color: #182f31;
}



.search{
    padding: 5px 15px;
    font-size: 1.5em;
    border-radius: 0.5em;
    border: 1px solid #003049;
}

.btn{
    font-size: 1.5em;
    border: none;
    border-radius: 1.2em;
    padding: 8px 10px;
    background-color: rgb(219, 116, 79);
    color: white;
}

.btn:hover {
    cursor: pointer;
}

main section{
    background: url('food.png') no-repeat center center fixed;
    background-size: cover;
    /* filter: blur(2px);  */
    height: 600px;
   
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: #291821;
}


@media all and (max-width: 600px){
    header section{
        float: left;
        width: 100%;
      
        margin: 0;
    }

    .foo{
        margin: -2.3em 1.5em 0 0;
        font-size: 25px;
      
    }

    .logo{
        margin-left: 0;
        width: 5em;
        margin-top: 0;
    }

    main section {
        background-size: cover;
        background-image: url('foods.png');
        background-attachment: fixed;
        width: 100%;
        color: white;
        margin: 0;
    }

    .para{
        font-size: 15px;
        color: white;
        width: 90%;
    }

    .para p{
        color: white;
        width: 90%;
    }

    .main form{
        font-size: 15px;
        margin-bottom: 0;
        padding: 0;
        display: block;
        padding: 0;
        margin: 0;
       
    }

    body{
        padding: 0;
        margin: 0;
    }

    html{
        padding: 0;
        margin: 0;
    }
}